h4 {
    border-bottom: 1px solid black;
}
.background {
    background-image: url("Images/MarianHill_ActOne_FINAL.jpg");
    background-position: center top;
}

div.center {
    text-align: center;
    align-content: center;
}

a {
    text-decoration: none;
}
a:hover {
    background-color: orange;
    text-decoration: underline;
}
table {
    border-collapse: collapse;
    background-color: orange;
}
td {
    font-style: italic;
}