h1 {
    font-weight: bold;
    color: blue;
    font-family: Calibri;
}
footer {
    font-family: Calibri;
}
a {
    padding: 15px;
}
form {
    font-weight: bold;
}
.background {
    background-color: royalblue;
}
#itemName {
    font-size: 20px;
}