body {
    background-color: navy;
}
h1 {
    font-weight: bold;
    color: whitesmoke;
    font-family: Calibri;
}
footer {
    font-family: Calibri;
}
a {
    padding: 15px;
}
form {
    font-weight: bold;
}
.background {
    background-color: royalblue;
}
#itemName {
    font-size: 20px;
}
a:visited {
    font-style: italic;
}
a:hover {
    font-weight: bold;
    color: yellow;
}
a:active {
    text-decoration: hidden;
}
.bev {
    text-align: left
}
.price {
    text-align: center;
}
thead {
    text-align: center;
    text-decoration: underline;
}
.bevTable {
    width: 100%;
}